LaTeX/Ex_XX_BeckerPourazarSproll.fls
LaTeX/Ex_XX_BeckerPourazarSproll.log
LaTeX/Ex_XX_BeckerPourazarSproll.fdb_latexmk
LaTeX/Ex_XX_BeckerPourazarSproll.synctex.gz
Impl/Ex01_LastnamesOfMembers_project/.idea
Impl/Ex01_LastnamesOfMembers_project/Ex01_LastnamesOfMembers_project/.settings
Impl/Ex01_LastnamesOfMembers_project/Ex01_LastnamesOfMembers_project/.project
