# TeX creation stuff
LaTeX/*.fls
LaTeX/*.log
LaTeX/*.fdb_latexmk
LaTeX/*.synctex.gz

# IDE local project preference
.idea
.settings
.project

LaTeX/.idea
LaTeX/.settings
LaTeX/.project

Impl/*/.idea
Impl/*/.project
Impl/*/.settings
Impl/*/*/.idea
Impl/*/*/.settings
Impl/*/*/.project
