# LaTeX creation stuff
LaTeX/Ex_XX_BeckerPourazarSproll.aux
LaTeX/Ex_XX_BeckerPourazarSproll.fls
LaTeX/Ex_XX_BeckerPourazarSproll.log
LaTeX/Ex_XX_BeckerPourazarSproll.fdb_latexmk
LaTeX/Ex_XX_BeckerPourazarSproll.synctex.gz
# IDE configs
.idea
.project
.settings

LaTeX/.idea
LaTeX/.project
LaTeX/.settings

Impl/.idea
Impl/.project
Impl/.settings

Impl/*/.idea
Impl/*/.project
Impl/*/.settings

Impl/*/*/.idea
Impl/*/*/.project
Impl/*/*/.settings
